.container-header{
    background-color: #4b1c71;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 25px; usado para dar espaço */ 

}

p{
    color: aliceblue;
}